form.my-5(method="POST" data-netlify="true")
    .form-group.mb-3
        label.mb-2(for="nameInput") Name
        input.form-control#nameInput(type="text" name="name" required=true)
    .form-group.mb-3
        label.mb-2(for="emailInput") Email
        input.form-control#emailInput(type="email" name="email" required=true)
    .form-group.mb-3
        label.mb-2(for="messageInput") Message
        textarea.form-control#messageInput(rows="4" name="message" required=true)
    button.btn.btn-light(type="submit") Send
