footer
    .social-media-footer
        a(href="https://facebook.com/jointcustodyband" target="_blank")
            i.fab.fa-facebook-square
        a(href="https://instagram.com/jointcustody__" target="_blank")
            i.fab.fa-instagram-square
        a(href="https://twitter.com/jointcustody_" target="_blank")
            i.fab.fa-twitter-square

    .attribution
        span Created by 
        a(href="https://www.dillonestrada.com" target="_blank").
            Dillon Estrada
