extends layouts/main.pug
block current
    - var current = 'About'
block head
    title Joint Custody - About
block content
    .container-lg
        section#about
            .jumbotron
                .about-image-container.mt-5
                        img.about-image(src=require("./img/individual-pic3-crop.jpg"))
                        img.about-image(src=require("./img/individual-pic1-crop.jpg"))
                        img.about-image(src=require("./img/individual-pic2-crop.jpg"))
                        img.about-image(src=require("./img/individual-pic4-crop.jpg"))
            .about-text
                h1 About The Band
                p Joint Custody is a young band that just released their first single, "Mississippi Moonshine," on all major streaming platforms. The band started from a group of friends that enjoyed jamming with each other. 
                p Sean Berry (guitarist/vocalist) and Tyler Dudley (guitarist/vocalist) both had their own bands but decided to come together to make a new band that lives and breathes East Texas Rock n' Roll, add to that Austin Dudley (bassist/vocalist) who has his own Hip Hop group, and Correy Davis (drummer) who left his career to chase his passion and you have a group of authentic, impassioned musicians that are determined to play music on their own terms. 
                p The band has a wide range of sound, led by Sean, Tyler, and Austin, that can deliver music that covers the rock spectrum. Tyler and Sean are no strangers to the music scene, having both releasing successful singles with their previous bands (Heart the Size of Texas, and First Generation Drunk respectively), regularly headlining shows at Cowboys in Tyler, opening for Parker McCollum, Granger Smith, Logan Samford, and Mike Ryan, as well as performing with many other up and coming Texas musicians such as; Chris Colston, Kolby Cooper, and Dylan Wheeler. The band is poised to storm the Texas Rock n' Roll scene in the next year.