extends layouts/main.pug
block current
    - var current = 'About'
block head
    title Joint Custody - About
block content
    .container-lg
        section#about
            .jumbotron
                .about-image-container.mt-5
                        img.about-image(src=require("./img/individual-pic3-crop.jpg"))
                        img.about-image(src=require("./img/individual-pic1-crop.jpg"))
                        img.about-image(src=require("./img/individual-pic2-crop.jpg"))
                        img.about-image(src=require("./img/individual-pic4-crop.jpg"))
            .about-text
                h1 About The Band
                p Joint Custody is a poised traveling band from East Texas that was established in 2019. This 4 piece band is made up of Tyler Dudley (vocalist, rhythm guitar), Sean Berry (vocalist, lead guitar), Austin Dudley (vocalist, bass) and last but not least Correy Davis (drums). You may know them from the songs Wake Up Stoned, Pillowtalk or the title track of their EP released last year, Up In Smoke. 
                p Joint Custody is made up of honest songwriting and Rock N Roll from the South. Some of their influences come from genres like Blackberry Smoke, Whiskey Myers, RSB.
                p They have been all over the country with people like Read Southall Band, Kolby Cooper, Pecos and the Rooftops, Cody Canada, Parker McCollum, Granger Smith and many more coming this year. 
                p The past couple of months these guys have been working hard to get some new music out along with playing as many shows as possible. Joint Custody is hungry and ready to storm the Texas Rock N Roll scene in the next year.

                