extends layouts/main.pug
block current
    - var current = 'Contact'
block head
    title Joint Custody - Contact
block content
    .container-lg
        section#contact
            h1.section-header Contact Us
            .contact-details
                div
                    h3 Management/Booking
                    h6 CACTUS CHARMER ENTERTAINMENT (Management)
                        span.contact-info 
                            strong Chris Mullen
                        span.contact-info 
                            i.fas.fa-envelope
                            a(href="mailto:chris@cactuscharmer.com") chris@cactuscharmer.com
                       h6 GREAT PLAINS TALENT (Booking)
                        span.contact-info 
                            strong Jordan Cain
                        span.contact-info 
                            i.fas.fa-envelope
                            a(href="mailto:jordan@greatplainstalent.com") jordan@greatplainstalent.com
            include ./components/contact-form.pug
