extends layouts/main.pug
block current
    - var current = 'Contact'
block head
    title Joint Custody - Contact
block content
    .container-lg
        section#contact
            h1.section-header Contact Us
            .contact-details
                div
                    br
                    h6 MANAGEMENT – Cactus Charmer
                        span.contact-info 
                            strong Chris Mullen
                        span.contact-info 
                            i.fas.fa-envelope
                            a(href="mailto:chris@cactuscharmer.com") chris@cactuscharmer.com
                    br
                    h6 BOOKING – Great Plains Talent
                        span.contact-info 
                            strong Jordan Cain
                        span.contact-info 
                            i.fas.fa-envelope
                            a(href="mailto:jordan@greatplainstalent.com") jordan@greatplainstalent.com
            include ./components/contact-form.pug
