extends layouts/main.pug
block current
    - var current = 'Contact'
block head
    title Joint Custody - Contact
block content
    .container-lg
        section#contact
            h1.section-header Contact Us
            .contact-details
                div
                    br
                    h6 Booking and Management
                        span.contact-info 
                            strong Please contact Chris Mullens with Cactus Charmer at <a href="mailto:chris@cactuscharmer.com">chris@cactuscharmer.com</a>
                    br
            include ./components/contact-form.pug
