extends layouts/main.pug
block current
    - var current = 'Media'
block head
    title Joint Custody - Media

block content
    .container-lg
        section#media
            #content-wrap
                h1.section-header Media
                .media-container
                    .audio
                        iframe(src="https://open.spotify.com/embed/playlist/3cETwBkJKCguJHV11Tr8Yx" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media")            
                    .icons-container
                        span.icons-header Music available for streaming/purchase at...
                        .icons
                            a(href="https://music.apple.com/us/artist/joint-custody/1520267300" target="_blank")
                                i.fab.fa-itunes
                            a(href="https://open.spotify.com/artist/4kAKEqpyGjM9yfw74vdq5r" target="_blank")
                                i.fab.fa-spotify
